.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  width: 100%;
  margin: 20px auto 0;
  background-color: var(--color-cyan);
  padding: 10px 40px 10px 40px;
  border-radius: 24px;
  color: white;

  .header {
    font-size: 36px;
    font-weight: 600;
  }

  .icon_wrapper {
    .image {
      width: 20px;
      height: 20px;
    }
  }
}
