:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-haki: #8d8741;
  --color-sky: #659dbd;
  --color-red-canyon: #daad86;
  --color-dirt: #bc986a;
  --color-sand: #fbeec1;
  --color-cyan: #55bcc9;
}
